form{
  margin: 5px 5px;
}
body{
  background-color: whitesmoke;
}
.required label:after{
  color: red;
  content: ' *';
  display: inline;
}
label{
  font-weight: bold;
}
.checked{
  color: orange;
}
table{
  text-align: center;
  padding: 20px;
}
td{
  padding: 10px 20px;
}
.fa{
  font-size: xx-large;
}
.font{
  font-family: 'Times New Roman', Times, serif;
  font-size:medium;
}
.buttons{
  font-size: larger;
}